version: '3.1'

services:
  consul1:
    image: trungtvq/consul
    ports:
     - 999:8500
  consul2:
    image: trungtvq/consul       
    ports:
       - 1000:8500
  consul3:
        image: trungtvq/consul       
        ports:
          - 1001:8500
  consul4:
        image: trungtvq/consul       
        ports:
          - 1002:8500
