version: "3.3"

services:
  jaeger:
    image: jaegertracing/all-in-one:1.18
    ports:
     - "6831:6831/udp"
     - "6832:6832/udp" 
     - "5775:5775/udp" 
     - "5778:5778/tcp" 
     - "14271:14271/tcp" 
     - "14250:14250/tcp" 
     - "14268:14268/tcp" 
     - "14269:14269/tcp" 
     - "16686:16686/tcp" 
     - "16687:16687/tcp" 
     - "14270:14270/tcp" 
    restart: always
    environment:
     - SPAN_STORAGE_TYPE=cassandra
     - CASSANDRA_SERVERS=${CASS:-vphim.co}
     - CASSANDRA_PORT=${CASS_PORT:-9042}
     - CASSANDRA_KEYSPACE=log
     - CASSANDRA_USERNAME=cassandra
     - CASSANDRA_PASSWORD=cassandra
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: "0.5"
          memory: 400M
      restart_policy:
        condition: on-failure
