version: '3.3'
services: 
        portainer:
            image: portainer/portainer
            container_name: portainer
            ports: 
                - 8000:8000
                - 9000:9000
            restart: always
            command: 
                --admin-password=${pass}
            volumes: 
                - /var/run/docker.sock:/var/run/docker.sock 
                - portainer_data:/data portainer/portainer
            extra_hosts: 
                - "stag:${stag}"
                - "dev:${dev}"
                - "cloud:${cloud}"
volumes: 
    portainer_data:
        external: true