version: '3'
services:
  nginx: 
    image: nginx:latest
    container_name: production_nginx
    restart: always
    volumes:
      - /Users/trung/myhtml/:/myhtml/
      - ./conf.d:/etc/nginx/conf.d
      - ./nginx.conf:/etc/nginx/nginx.conf
    ports:
      - 80:80
      - 443:443

 
