version: '3.8'
services: 
    squid:
        build: 
            context: .
        image: sameersbn/squid:3.5.27-2
        volumes: 
            - ./squid.conf:/etc/squid/squid.conf
            - /data/squid/cache:/var/spool/squid
        ports:
            - 3128:3128
        
