# Use root/example as user/password credentials
version: '3.1'

services:
  redis:
    image: redis:alpine
    container_name: "redis-6379"
    network_mode: "host"
    #ports:
    #  - "6379:6379"
    restart: always
    volumes:
      - redis_db:/data
      - ./redis_conf/:/usr/local/etc/redis/
    deploy:
      replicas: 2
      update_config:
        parallelism: 2
        delay: 10s
      restart_policy:
        condition: on-failure
  
volumes:
  redis_db:
    external: true
